<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<currency>
			<currencyapi>
				<api_key/>
				<timeout>100</timeout>
				<conversion_fee>3</conversion_fee>
			</currencyapi>
		</currency>
	</default>
</config>
